html,body{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image/simon-english-48nerZQCHgo-unsplash.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
 
.content{
	width: 98.9%;
	margin: 10px auto;
}
 
/*menu navigasi*/
nav{
    width: 100%;
    background: rgba(0, 0, 0, 0.644);
    height: 50px;
}

ul li{
    display: inline-block;
    padding: 10px 30px;
}

ul li:hover{
    border-bottom: 4px solid #fff;
}

 ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

ul li:hover a{
    color: white;
    text-decoration: none;
}