.warna-bg{
  background: linear-gradient(to right, rgba(91,134,229, .92), rgba(54,209,220, .92));
}

.jumbotron-bg{
  background-size: cover;
  background: url(./img/bg.jpg);
  background-size: 300px;
}

.carousel-control-prev{
  left: -5%;
  bottom: 35px;
}
.carousel-control-next{
  right: -15%;
  bottom: 35px;
}

.carousel-indicators{
  top: 20%;
}